*{box-sizing: border-box;}
.post{
	width:100%;
	
	margin-top: 100px;
	padding: 10%;
	background-color: #ffffff;
	position: relative; 
	
}

 .header {
		height: 100px;
		width:100%;
		padding-top: 5px;
		background-color: #ecf0f1;
		text-align:center;
		z-index:10;
		position: fixed; 
		top:0;
		box-shadow: 2px 2px 4px #000000;
		padding-top:0px;
		font-family:Jazz LET, fantasy;
		font-weight: bold;
		font-size:80%;
		color: #1f1f14;
	
	
	
}

.button_back {
   border: 0px solid #666666;
   background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 67%, #111111 79%, #1c1c1c 91%, #2b2b2b 100%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 67%,#111111 79%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 67%,#111111 79%,#1c1c1c 91%,#2b2b2b 100%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
   padding: 8.5px 17px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #ffffff;
   font-size: 18px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   z-index:4;
   }

.button_back:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #c7bdc7;
   background: #3f4447;
   background: -webkit-gradient(linear, left top, left bottom, from(#c7c7c7), to(#c7c7c7));
   background: -webkit-linear-gradient(top, #c7c7c7, #3f4447);
   background: -moz-linear-gradient(top, #c7c7c7, #3f4447);
   background: -ms-linear-gradient(top, #c7c7c7, #3f4447);
   background: -o-linear-gradient(top, #c7c7c7, #3f4447);
   background-image: -ms-linear-gradient(top, #c7c7c7 0%, #3f4447 100%);
   color: #fff;
   } 
   
  /* Case à cocher */
  .checkbox input{
	display: none;
			}

body {
	margin:0px;
}


	
	
	
}